<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/styles.css'>
  <title>The Word Definer</title>
</head>
<body>
  <div class="container titles">
    <%= yield %>
  </div>
</body>
</html>
