<div class="new_object_page">
<h2>Create a new word.</h2>

<form action="/words" method="post">
  <div class="form-group">
    <div class="inputs">
      <label for="word_name">Word</label>
      <input id="name_input" name="word_name" class="form-control" type="text">

      <label for="pronunciation_in">Pronunciation</label>
      <input id="pronunciation_input" name="pronunciation_in" class="form-control" type="text">
    </div>
  </div>
  <button type="submit" class="danger">Go!</button>
</form>
</div>
