<h2 class="titles">The Word Definer</h2>
<h5 class="titles">"It's for the children."</h5>
<h3 class="titles">Available Words</h3>
<h4><a href="/words/new">Add a new word</a></h4>

<% if @words.any? %>
<ul style="list-style-type:none;">
  <% @words.each do |word| %>
  <h4><a href="/words/<%= word.id %>"><%= word.name %></a></h4>
  <li>Pronounced As: <%= word.pronunciation %></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no words to display.</p>
<% end %>


<form action="/words" method="get">
  <input name="clear_inputs" type="hidden" value="clear">
  <button type="submit" name="clear">Clear All Words</button>
</form>


<!-- <form action="/words" method="get">
  <input name="sort_list" type="hidden" value="search">
  <button type="submit">Sort List</button>
</form> -->
