button {
color: black;
object-position: center;
}

body{
  background-color: aquamarine;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  /* background-image: url("https://live.staticflickr.com/7859/46798127044_f3bb685b49_b.jpg");
  background-repeat: no-repeat;
  background-position: bottom; */
  padding: 20px;

}

.inputs{
  width: 300px;
  margin: auto, auto;
}
